name: Publish to Maven Central
on:
  release:
    types:
      - created
  workflow_dispatch:
jobs:
  publish:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - uses: actions/setup-java@v4
        with:
          distribution: temurin
          java-version: 17
      - name: Setup Gradle
        uses: gradle/gradle-build-action@v3
      - name: Publish
        env:
          ORG_GRADLE_PROJECT_mavenCentralUsername: ${{secrets.MAVEN_CENTRAL_USERNAME}}
          ORG_GRADLE_PROJECT_mavenCentralPassword: ${{secrets.MAVEN_CENTRAL_PASSWORD}}
          ORG_GRADLE_PROJECT_signingInMemoryKey: ${{secrets.MAVEN_CENTRAL_GPG_KEY}}
          ORG_GRADLE_PROJECT_signingInMemoryKeyPassword: ${{secrets.MAVEN_CENTRAL_GPG_PASSWORD}}
        run: ./gradlew publishAndReleaseToMavenCentral --no-configuration-cache